{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
    <div class="container">
    <h2>Регистрация</h2>
        {% if form2.errors %}
        <div class="alert alert-primary" role="alert">
    {% for field, errors in form2.errors.items() %}
    {{ ', '.join(errors) }}
    {% endfor %}
        </div>
        {% endif %}
    <form class="form-horizontal" method="POST" action="{{ url_for('register') }}">
        {{ form2.csrf_token() }}
        <div class="form-group">
            {{ form2.username.label }}
            {{ form2.username(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form2.first_name.label }}
            {{ form2.first_name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form2.last_name.label }}
            {{ form2.last_name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form2.email.label }}
            {{ form2.email(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form2.password.label }}
            {{ form2.password(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form2.password2.label }}
            {{ form2.password2(class="form-control") }}
        </div>
        <div class="form-group my-3">
            {{ form2.submit(class="btn btn-primary")}}
        </div>
    </form>
</div>
{% endblock %}